<!-- ici on utilise la fonction include d'ejs afin de récupérer des bouts de html et les incorporer à notre vue-->
<%- include('./partials/header') %>

    <h1>La route '/' fonctionne ! </h1>

<%- include('./partials/footer') %>